<% if @friend_likes.nil? || @friend_recomendation.nil? %>
  <div class="welcome">:( Não conseguimos encontrar nenhum presente para <%= @friend_name %>, pois não há dados suficientes de preferências.</div>
<% else %>
  <div class="welcome">Encontramos opções bem interessantes, vão surpreender <%= @friend_name %>! Clique no item que deseja comprar e já será direcionado à loja.</div>
  <div class="gifts">
  <ul>
    <% @friend_recomendation.each do |reco| %>
      <%= link_to reco.link_amazon, :target => "_blank" do %>
        <li>
          <%= image_tag reco.image %>
          <br />
          Álbum: <%= reco.title %>
          <br />
          Artista: <%= reco.band.name %>
        </li>
      <% end %>
    <% end %>
  <ul>
  </div>
<% end %>